<%= render(CardComponent.new) do |c| %>
  <% c.body do %>
    <h2 class="dark:text-white text-center text-4xl">Edit Customer</h2>
    <%= render 'customers/form', customer: @customer, path: customer_path, method: :patch %>
  <% end %>
<% end %>
