<%= render(CardComponent.new) do |c| %>
  <% c.body do %>
    <h2 class="dark:text-white text-center text-4xl">Edit Loan</h2>
    <%= render 'loans/form', loan: @loan, path: loan_path, method: :patch %>
  <% end %>
<% end %>
