<%= render(CardComponent.new) do |c| %>
  <% c.body do %>
    <h2 class="dark:text-white text-center text-4xl">New Loan</h2>
    <%= render 'loans/form', loan: @loan, path: (@path || loans_path), method: :post %>
  <% end %>
<% end %>
