<%= render(CardComponent.new) do |c| %>
  <% c.body do %>
    <h2 class="dark:text-white text-center text-4xl">New Item</h2>
    <%= render 'items/form', item: @item, path: (@path || items_path), method: :post %>
  <% end %>
<% end %>
